.page-wrapper {
    padding-top: 100px;
}

.card a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 20px;
}

footer h1 {
    font-size: 1.5rem;
    text-align: right;
}

#toc {
    position: fixed;
}

ol.toc-list {
    list-style: none;
}

.page-content img {
    max-width: 100%;
}

.js-toc-content h2::before, .js-toc-content h3::before {
    display: block;
    content: " ";
    height: 85px;
    margin-top: -85px;
    visibility: hidden;
}

.js-toc-content blockquote {
    border-radius: 3px;
    background: #F2F2F2;
    border-left: 7px solid #64AE5B;
    padding: 10px;
}

.js-toc-content blockquote p {
    margin-bottom: 0px;
}