.page-wrapper {
    padding-top: 100px;
}

.card a {
    text-decoration: none;
}

footer h1 {
    font-size: 1.5rem;
    text-align: right;
}

#toc {
    position: fixed;
}

ol.toc-list {
    list-style: none;
}

.page-content img {
    max-width: 100%;
}

.js-toc-content h2::before, .js-toc-content h3::before {
    display: block;
    content: " ";
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}
