.page-wrapper {
    padding-top: 100px;
}

.card a {
    text-decoration: none;
}

footer h1 {
    font-size: 1.5rem;
    text-align: right;
}

#toc {
    position: fixed;
}

ol.toc-list {
    list-style: none;
}

.page-content img {
    max-width: 100%;
}