---
layout: default
---
<div class="row">
    <div class="col-md-10 js-toc-content">
        {{ content }}
    </div>
    <div id="toc" class="col-md-2 js-toc">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<script>
    tocbot.init({
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h2, h3',
        collapseDepth: 1,
    });
</script>